body{
  background-color: white;
}
h1{
  color: red; 

}
h2{
  color:red;
}
h3{
   color: red; 
}
p{
  color: red; 

}
label{
  color: black;
}
a{
  color: black;
  text-decoration:none;
}
a:hover{
  color: rgb(94, 94, 94)
}
#register-form{
  width: 10rem;
  margin-right: auto;
  margin-left: auto;
}
#login-form{
  width: 10rem;
  margin-right: auto;
  margin-left: auto;
}
#training{
  background-color: #155b97;
  padding: 1rem;
}
#training .items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#training .items .item{
  text-align: center;
  padding: 0.5rem;
  width: 33%;
}
#training .items .item:hover{
  color: rgb(177, 177, 177);
  opacity: 0.6;
}
