{% extends "layout.html" %}
{% block body %}



{% if articles %}
     <div class="col-md-10 m-5 search">
    <form>
        {% csrf_token %} 
        <input type="text" name = "keyword" class="input-sm search-area" maxlength="80" placeholder="Ara...">
        <button type="submit" class="btn btn-danger btn-sm search-btn">Ara</button>
    </form>
    </div>
 
    {% for article in articles %}
   

            <div class="row" >
                            <div class="col-lg-11">
                                <!-- Post content-->
                                <article>
                                    <!-- Post header-->
                                    <header class="mb-4">
                                        <!-- Post title-->
                                        <a href="{% url 'article:detail' article.id%}"> <h2 class="fw-bolder mb-1">{{article.title}}</h2></a>
                                        <hr color="white"/>
                                        <!--Author-->
                                        <p class="lead">
                                            {{article.author.username}} tarafından yayımlandı
                                        </p>
                                        <!-- Post meta content-->
                                        <div class="text-muted fst-italic mb-2">{{article.created_date}}'da paylaşıldı</div>
                                    
                                                                    <hr color="white"/>
                                    </header>
                                    <!-- Preview image figure-->
                                    {% if article.article_image %}
                                        <figure class="mb-4"><a href="{% url 'article:detail' article.id%}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></a>  </figure>

                                    
                                    {% endif %}
                                    <!-- Post content-->
                                    <section class="mb-5" style="color:wihte;">
                                    <p style="color: white;">{{article.content|safe|truncatewords:150}}</p> 
                                    <a href="{% url 'article:detail' article.id%}" style="float:right;" class ="btn btn-danger">Devamını Oku...</a>
                                    </section>
                                </article>
                                
                            </div>
            </div>         
                                    
            <hr color="white"/>       
            <br>
            <br>
    {% endfor %}
{% else %}
 <div class="col-md-10 m-5 ">
    <form>
        {% csrf_token %} 
        <input type="text" name = "keyword" class="input-sm" maxlength="80" style="width:25rem" placeholder="Ara...">
        <button type="submit" class="btn btn-danger btn-sm" style="margin-bottom:5px;width:4rem">Ara</button>
    </form>
    </div>
<div class ="alert alert-danger">Makale Bulunamadı</div>
{% endif %}
 

{% endblock body %}