{% extends "layout.html" %}
{% block body %}
 <div class="col-md-10 m-5 search ">
    <form>
        {% csrf_token %} 
        <input type="text" name = "keyword" class="input-sm search-area" maxlength="80" placeholder="Ara...">
        <button type="submit" class="btn btn-danger btn-sm search-btn">Ara</button>
    </form>
    </div>
<h3>  Makalaler  </h3>
{% if articles %}
<div class="table">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Başlık</th>
      <th scope="col">Yazar</th>
      <th scope="col">Oluşturulma Tarihi</th>
    </tr>
  </thead>
  <tbody>

    {% for article in articles %}
        <tr>
        <th scope="row">{{article.id}}</th>
        <td><a href="{% url 'article:detail' article.id%}">{{article.title}}</a></td> 
        <td>{{article.author}}</td>
        <td>{{article.created_date}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
 <div class="col-md-10 m-5 search">
    <form>
        {% csrf_token %} 
        <input type="text" name = "keyword" class="input-sm search-area" maxlength="80"  placeholder="Ara...">
        <button type="submit" class="btn btn-danger btn-sm search-btn" >Ara</button>
    </form>
    </div>
    <div class="alert alert-danger">Bu Blgota Henüz Bir Makale Bulunmuyor!</div>
{% endif %}
</div>



{% endblock body %}
