{% extends 'layout.html' %}
{% block body %}
<section id="dashboard">
<div style="margin-left: 60px;"class="">
    <h3>Kontrol Paneli</h3>
    <hr>    
    <p>Hoşgeldiniz,<small>{{request.user.username}}</small></p>
    <hr>
    <button type="submit" class="btn btn-danger"><a href="/articles/addarticle/" style="text-decoration:none; color:white;">Makale Ekle!</a></button>
    <hr>
   </div> 


   {% if articles %}
   <section class="border ">
   <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Created Date</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>


      </tr>
    </thead>
    <tbody>
    
        {% for article in articles %}
        <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="/articles/article/{{article.id}}" style="text-decoration:none;">{{article.title}}</a></td>
            <td>{{article.author}}</td>
            <td>{{article.created_date}}</td>
            <td><a href="/articles/update/{{article.id}}" class="btn btn-danger">Güncelle</a></td>
            <td><a href="/articles/delete/{{article.id}}" class="btn btn-danger">Sil</a></td>

        </tr>
        {% endfor %}
   {% else %}
    <div class="alert alert-info">Henüz Bir Makaleniz Bulunmamaktadır<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Created Date</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>


      </tr>
    </thead>
    <tbody>
    
        {% for article in articles %}
        <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="{% url 'article:detail' article.id%}" class="btn btn-danger">{{article.title}}</a></td> 
            <td>{{article.author}}</td>
            <td>{{article.created_date}}</td>
            <td><a href="{% url 'article:update' article.id%}" class="btn btn-danger">Güncelle</a></td>
            <td><a href="{% url 'article:delete' article.id%}" class="btn btn-danger">Sil</a></td>

        </tr>
        {% endfor %}</div>

   {% endif %}
   
      <!-- <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr> -->
      
    </tbody>
  </table>
</section>
</section>
<br>
{% endblock body %}


