{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner rounded">
      <div class="carousel-item active rounded">
        <a href="/articles/article/14"><img class="d-block w-100 rounded" src="{% static 'img/site_icin.jpg' %}" alt="First slide"></a>
      </div>
      <div class="carousel-item rounded" >
        <a href="/articles/article/12"><img class="d-block w-100 rounded" src="{% static 'img/site_icin2.jpg' %}" alt="Second slide"></a>
      </div>
      <div class="carousel-item rounded">
        <a href="/articles/article/19"><img class="d-block w-100 rounded" src="{% static 'img/site_icin3.png' %}" alt="Third slide"></a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>



{% endblock %}


{% block body2 %}

<section id="training" class="bg-dark-blue">
  <h3 id="one-cikanlar" class="text-center heding-madium">Öne Çıkanlar</h3>
  <div class="items">
      <article class="item">
          <i class="fa fa-pencil-alt"></i>
         <a href="/articles/article/20"style="text-decoration:none;"><h3 style ="color:whitesmoke;">Bootstrap Nedir?</h3></a>
          <a href="/articles/article/20"style="text-decoration:none;"><p>Bootstrap, her ne kadar geliştiricilerinin tekrar tekrar şablonları yönetmelerinde zaman tasarrufu yapmalarını sağlasa da ana hedefi mobil dostu siteler oluşturmaktır. Web sitesinin kullanıcı arayüzünün ister küçük ekranlı telefonlar, ister büyük ekranlı masaüstü bilgisayarlar olsun bütün ekran boyutlarında en ideal olarak çalışmasına izin verir. 

Böylelikle geliştiricilerin cihazlara özel siteler yapmasına ve kitlelerini sınırlamasına gerek kalmaz.Devamını Oku...</p></a>
      </article>
      <article class="item">
          <i class="fa fa-pencil-alt"></i>
          <a href="/articles/article/11"style="text-decoration:none; "><h3 style ="color:whitesmoke;">Python Nedir?</h3></a>
          <a href="/articles/article/11" style="text-decoration:none;" > <p>Python programlama dili veri bilimi, makine öğrenimi, sistem otomasyonu, web ve API geliştirme ve daha fazlası için bir temel yapıdır. 
       1991'den beri Python programlama dili sadece gereksiz programlar için tamamlayıcı bir dil olarak değerlendiriliyordu. Hatta “Automate the Boring Stuff” (Türkçe'ye "Sıkıcı Şeyleri Otomatikleştiren" olarak çevirebileceğimiz popüler bir kitap) adında bir kitap dahi yayınlanmıştır. 

       Bununla birlikte son birkaç yılda Python modern yazılım geliştirme, altyapı yönetimi ve veri analizinde birinci sınıf bir programlama dili olarak ön plana çıkmıştır. Devamını Oku...</p></a>
      </article> <article class="item">
          <i class="fa fa-pencil-alt"></i>
          <a href="/articles/article/21"style="text-decoration:none; "><h3 style ="color:whitesmoke;">Django Nedir?</h3></a>
          <a href="/articles/article/21"style="text-decoration:none;"><p>Django, Python Programlama Dili için hazırlanmış ve BSD lisansı ile lisanslanmış yüksek seviyeli bir web çatısıdır(framework). Basit kurulumu ve kullanımı, detaylı hata raporu sayfaları ve sunduğu yepyeni arayüz ile diğer sunucu yazılımı ve frameworklerden kendini ayrıştırmaktadır. İsmi, caz gitaristi Django Reinhardt’tan gelmektedir.
Django Projesi’nin temel amacı, karmaşık bir yapıda olan web uygulamalarının kullanımını kolaylaştırmaktır. Django yeniden kullanılabilirlik, modülerlik, hızlı geliştirme süreci politikasına sahip bir yapıda tasarlanmaktadır.
Devamını Oku... </p></a>  
      </article>
      </div>
</section>

<div id="cards-section">
  <h3 class="text-center mb-5">Yazılımcılar İçin Web Siteleri</h3>

<div id="cards">
  <div class="card">
    <img class="card-img-top " src="{% static 'img/W3Schools_logo.svg.png'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" >W3Schools</h5>
      <p class="card-text">HTML , CSS , JavaScript , PHP , SQL , Python , jQuery , Java , C ++ , C # ,  XML  ve Bootstrap gibi web sitesi dillerinde bir çok kaynağa ve uygulamaya ücretsiz bir şekilde ulaşabileceğiniz bir web sitesidir.</p>
      <a href="https://www.w3schools.com" target="_blank" class="btn btn-primary">W3Schools</a>
    </div>
  </div>

  <div class="card ">
    <img class="card-img-top" src="{% static 'img/freecodecamp.jpg'%}" alt="Card image cap"> 
    <div class="card-body">
      <h5 class="card-title" >FreeCodeCamp</h5>
      <p class="card-text">Kodlama ile ilgili bazı dersleri ücretsiz oalrak sunarak, kâr amacı gütmeyen kuruluşlar için yazılım hazırlayarak bu yeteneklerinizi kullanıp geliştirmenize olanak sağlayan bir internet sitesi.</p>
      <a href="https://www.freecodecamp.org"target="_blank" class="btn btn-primary">FreeCodeCamp</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{% static 'img/github.png'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">GitHub</h5>
      <p class="card-text">GitHub, git yazılımı ile entegre olmuş bir depolama alanıdır. GitHub sayesinde dünyanın çeşitli ülkelerinden, bu ülkelerin bazı yerlerinden, projenize farklı bir kaç kişi ekleyerek takım çalışması yapabilirsiniz.</p>
      <a href="https://github.com" target="_blank" class="btn btn-primary">GitHub</a>
    </div>
  </div>

</div>
</div>

<hr color="#155b97"/> 
<br>
<div class="container">
<h3 class="text-center mb-5">Web Geliştiricini Yol Haritası</h3>
<div class="timeline mb-5">
  <article class="timeline-item">
    <div class="timeline-desk">
      <div class="panel">
    <div class="panel-body">
  <span class="arrow"></span>
    <span class="timeline-icon"></span>
    <h3>HTML öğrenin</h3>
  <p>HTML bir web uygulamasının iskeletidir. Nasıl ki insana genel şeklini veren iskelet ise web uygulamalarınında iskeleti HTML’dir.
HTML ile başlıklar, yazılar, tablolar, fotoğraflar, butonlar ekleyebilirsiniz. Tabii ki bunları en temel haliyle eklersiniz. HTML5 ile görsel olarak ve kullanım olarak ilerlemiş olsada html tek başına kesinlikle yeterli değildir.</p>
      </div>
    </div>
  </div>
  </article>
  <article class="timeline-item alt">
  <div class="timeline-desk">
    <div class="panel">
      <div class="panel-body">
    <span class="arrow-alt"></span>
  <span class="timeline-icon"></span>
  <h3>CSS öğrenin</h3>
  <p>Bu kısmı hallettikten sonra bir css kütüphanesi kullanmayı öğrenin büyük kolaylık sağlayacaktır. En çok kullanılan css kütüphanesi Twitter geliştiricileri tarafından geliştirilen Bootstrap’tir. Bununla ilgili güzel bir kaynak ne yazıkki bilmiyorum. FreeCodeCamp’te de yine bununla ilgili bölüm vardı. Birde Bootstrap ‘in kendi sitesinde bulunan dökümantasyonu inceleyebilirsiniz.</p>
      </div>
    </div>
  </div>
  </article>
  <article class="timeline-item">
  <div class="timeline-desk">
    <div class="panel">
      <div class="panel-body">
  <span class="arrow"></span>
  <span class="timeline-icon"></span>
  <h3>Javascript öğrenin</h3>
  <p>Javascript ile  web sitemizi kullancıyla etkileşime sokabiliriz. Bir butona tıklanınca çeşitli olayları tetikletebiliriz.
Javascript o kadar gelişti ki web servisler ile uygulamayı bağlayıp çok üst seviye uygulamalar geliştirebiliriz.

İlk olarak temel javascript bilgisi edindikten sonra çeşitli kütüphaneler ve frameworkler öğrenin.</p>
        </div>
      </div>
  </div>
  </article>
  <article class="timeline-item alt">
    <div class="timeline-desk">
      <div class="panel">
        <div class="panel-body">
  <span class="arrow-alt"></span>
  <span class="timeline-icon"></span>
  <h3>Back End için bir dil öğrenin</h3>
  <p>Back End için bir çok alternatif bulunuyor. En çok kullandığım ve kendi deneyimlediğim birkaç dili sizlerle paylaşacağım.

ASP.NET – C# biliyorsanız zorlanmadan öğrenebilirsiniz. Burada genellikle MVC yapısı kullanılmakta. Bu yapı ile birlikte öğrenin.
PHP – Bu taraftada yine birçok framework mevcut. En çok kullanılanı sanırım Laravel ve Codeigniter. Bunlarda da yine MVC yapısı kullanılıyor ama bana buradaki MVC yapısı çok karışık geldi. ASP.NET’te bu yapı daha açık.
</p>
      </div>
    </div>
  </div>
  </article>
  </div>
</div> 

<section class="footer">
  <div id="footer">
      <p id="copyrights" class="text-center">Telif Hakkı © 2020-2021 MKCBlog. Tüm Hakları Saklıdır.</p>
  </div>

</section>




{% endblock %}
<section class="footer">
    <div id="footer" style="height: 4rem;width:100% ;background-color:#062e51; ">
        <p class="text-center" style="color: whitesmoke; padding-top:1.1rem; ">Telif Hakkı © 2020-2021 MKCBlog Tüm Hakları Saklıdır.</p>
    </div>
  
  </section>